<html>
  <head>
    {{{ COMMON_HEADERS }}}
  </head>
  <body>
    <h1>Quotes</h1>

    <!-- Render a list of quotes -->
    <ul class="quote-list">
      {{ #quotes }}
        <li>
          <address class="quote-source">{{ source }}</address>
          <blockquote class="quote">“{{{ text }}}”<blockquote>
        </li>
      {{ /quotes }}
    </ul>
  </body>
</html>
