<html>
  <head>
    {{{ COMMON_HEADERS }}}
  </head>
  <body>
    <h1>Read</h1>

    <!-- Render a list of books -->
    <ul class="book-list">
      {{ #read }}
        <li>
          <div class="book">
            <h2><a href="{{ id }}">{{ title }}</a></h2>

            <ul>
              {{ #shelves }}
              <li>{{ . }}</li>
              {{ /shelves }}
            </ul>
          </div>
        </li>
      {{ /read }}
    </ul>
  </body>
</html>
