<html>
  <head>
    {{{ COMMON_HEADERS }}}
  </head>
  <body>
    <h1>Books</h1>

    <!-- Render a list of quotes -->
    <ul class="book-list">
      {{ #books }}
        <li>
          <h2>{{title}}</h2>
          <address rel="author">{{author}}</address>
          <date>{{dateRead}}</date>
          <div>{{rating}}</div>
        </li>
      {{ /books }}
    </ul>
  </body>
</html>
